#wrap {
    margin: auto;
}
#bg_color {
    margin: auto;
    width: 750px;
    border: 3px solid #585858;
    background-color: rgb(216, 208, 181);
}
header {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
#sound_img {
    width: 90px;
    height: 50px;
}
#sound{
    width: 50px;
    height: 50px;
    margin: 0px 20px;
    cursor: pointer;
}
h1 {
    font-size: 50px;
}
#info{
    text-align: center;
    font-size: 30px;
    height: 50px;
}
#rangeBar{
    width: 400px;
}
#rangeBar_al{
    text-align: center;
}
#imgNum {
    font-size: 30px;
    margin-top: 50px;
    height: 50px;
    color: rgb(65, 99, 212);
}
#sumImg {
    font-size: 30px;
    margin-top: 50px;
    height: 50px;
    color: rgb(160, 54, 54);
}
#border_b {
    margin-top: 10px;

}
.imgNum {
    font-size: 30px;
    margin-top: 50px;
    height: 50px;
}
main {
    text-align: center;
    width: 486px;
    height: 500px;
    margin: auto;
    margin-bottom: 50px;
}
footer {
    padding-top: 50px;
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    border-top: 3px solid #000000;
}
#albumImage{
    border-radius: 10px;
}
.btn {
    all: unset;
    cursor: pointer;
    width: 100px;
    height: 80px;
    margin: 10px;
    font-size: 25px;
    background-color: rgb(216, 208, 181);
    border: 0px;
    font-size: 60px;
    line-height: 60px;
}
#input_text {
    font-family: Malgun Gothic;
    font-size: 50px;
    color: #0e0e0e;
    text-align: center;
    border: 0px;
    width: 500px;
    height: 50px;
    background-color: rgb(216, 208, 181);
}
#input_text02 {
    font-family: Malgun Gothic;
    font-size: 25px;
    color: #e9e9e9;
    text-align: center;
    border: 0px;
    width: 500px;
    height: 50px;
    background-color: rgb(216, 208, 181);
}
#input_text_area {
    text-align: center;
}
#music {
    appearance: none;
    width: 160px; /* 넓이를 늘려서 글씨가 보이도록 */
    height: 50px;
    padding-left: 10px;
    font-size: 16px;
    color: black; /* 글씨 검은색 */
    background: url(./img/option.png) no-repeat right center;
    background-size: 40px 40px; /* 아이콘 크기 조절 */
    border: 0px;
     cursor: pointer;
}
#footer_al{
    display: flex;
}
#btn_img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}